{:blocks (
{:block/content "# LOGS\nici c le bordel on peut placer des vieux trucs partout ehe"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e18c95-b9bd-4173-8e57-21b7c8f2a8e5"}
:block/parent 
{:block/uuid #uuid "68e18c95-b9bd-4173-8e57-21b7c8f2a8e5"}
:block/properties 
{:heading 1}
:block/uuid #uuid "68e18ca0-f369-4a84-a4b6-2daf50ba10cd"} 
{:block/created-at 1759612081033
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "68e18ca0-f369-4a84-a4b6-2daf50ba10cd"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 125.9999969859182]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "28b545b0-a166-11f0-9e61-3b62fd53bac4"
:noFill false
:point [584 384]
:parentId "68e18c95-b9bd-4173-8e57-21b7c8f2a8e5"
:collapsedHeight 0
:nonce 1759612059026}}
:block/updated-at 1759612081033} 
{:block/content "#UI_ExploitSelector\n \n- comment faire la roue ?   -> test avec **Plot** (https://github.com/cecarlsen/dk.cec.plot) paouf j'arrive pas à afficher des trucs sur le bon sorting layer... mais ça a l'air super sinon\n-> test avec **Shapes2D** (https://sub-c.org/Shapes2D/documentation/), ça marche ! couleurs rendent chelou par contre ?     -> je crois on voulait déjà utiliser ça pour les #USB_Cable mais ça risque d'être performant costly   - - comment on place les exploit name ?"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e18ca0-f369-4a84-a4b6-2daf50ba10cd"}
:block/parent 
{:block/uuid #uuid "68e18c95-b9bd-4173-8e57-21b7c8f2a8e5"}
:block/properties 
{}
:block/uuid #uuid "68e18cda-00f9-4526-b247-cb26f8bd80c3"} 
{:block/created-at 1759612174410
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "68e18cda-00f9-4526-b247-cb26f8bd80c3"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 296.7812997323495]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4c8e0f80-a166-11f0-9e61-3b62fd53bac4"
:noFill false
:point [-72 88]
:parentId "68e18c95-b9bd-4173-8e57-21b7c8f2a8e5"
:collapsedHeight 0
:nonce 1759612119453}}
:block/updated-at 1759612174410})
:pages (
{:block/uuid #uuid "68e18c95-b9bd-4173-8e57-21b7c8f2a8e5"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68e18c95-b9bd-4173-8e57-21b7c8f2a8e5"
:name "logs"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("28b545b0-a166-11f0-9e61-3b62fd53bac4" "4c8e0f80-a166-11f0-9e61-3b62fd53bac4")}}
:block/updated-at 1759612174410
:block/created-at 1759612053027
:block/type "whiteboard"
:block/name "logs"
:block/original-name "logs"})}