{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68de4f68-8964-4f29-92d4-ec9f6be9dd0f"}
:block/parent 
{:block/uuid #uuid "68de4f68-8964-4f29-92d4-ec9f6be9dd0f"}
:block/uuid #uuid "68de4f9f-f48a-44eb-9aac-7fd913d093af"})
:pages (
{:block/uuid #uuid "68de4f68-8964-4f29-92d4-ec9f6be9dd0f"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68de4f68-8964-4f29-92d4-ec9f6be9dd0f"
:name "68de4f68-8964-4f29-92d4-ec9f6be9dd0f"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1759399960774
:block/created-at 1759399784551
:block/type "whiteboard"
:block/name "systems"
:block/original-name "Systems"})}