{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea87-3863-47ef-b4c8-931549b1a5e1"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea41-1f36-4d20-859f-996c53a36acf"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/uuid #uuid "68e4eae5-ccae-4ff0-af6f-bbf0b4d0ddef"} 
{:block/created-at 1759518692328
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "68de534f-8bfc-473f-8a45-e2dc42e47db2"
:scaleLevel "xxl"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [256 123.13203710178665]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3dedb360-9f7a-11f0-b56f-2f5d91f41663"
:noFill false
:point [-400 224]
:parentId "68de5224-dc37-4021-bb3b-c34766a09112"
:collapsedHeight 0
:nonce 1759400782421}}
:block/updated-at 1759518692328} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68e4ea41-1f36-4d20-859f-996c53a36acf"} 
{:block/collapsed? false
:block/content "# **BUGS**\n:LOGBOOK:\nCLOCK: [2025-10-07 Tue 12:27:17]--[2025-10-07 Tue 12:27:18] =>  00:00:01\n:END:"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea03-86ec-43a6-8915-881103fd6ba9"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{:heading 1}
:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"} 
{:block/content "**BUGS**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68de534f-8bfc-473f-8a45-e2dc42e47db2"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68e4ea03-86ec-43a6-8915-881103fd6ba9"} 
{:block/created-at 1760369825810
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "todo 1.4.9"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [680 719.6561374106396]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7e063760-a169-11f0-9e61-3b62fd53bac4"
:noFill false
:isLocked false
:point [-832 400]
:parentId "f60eacb4-ef6d-4dec-993c-70b211f0316f"
:collapsedHeight 0
:nonce 1759613490770}}
:block/updated-at 1760369825810} 
{:block/content "# **MID TERM**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eae5-ccae-4ff0-af6f-bbf0b4d0ddef"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{:heading 1}
:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"} 
{:block/content "**DONE**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68de523d-23ed-4ec0-8044-b99dce844ca6"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68de534f-8bfc-473f-8a45-e2dc42e47db2"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68e4eacd-15a9-40c6-95c2-045f39092ef4"} 
{:block/content "### #UI_Navigator rework"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a8c-fba4-4f0f-b7cf-d765f11cbaa9"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{:heading 3}
:block/uuid #uuid "68e66a99-bf02-4abb-8bf7-e9a46d87bc65"} 
{:block/content "**CURRENT TODO**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68de523d-23ed-4ec0-8044-b99dce844ca6"} 
{:block/content "DONE créer un script qui update automatiqmen les navmesh au lancement du jeu"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599d4-2812-4f39-ae40-a9768b129388"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e599d4-7fc2-4503-a270-236131bc7e4c"} 
{:block/content "TODO régler problème vsync ET fps target sur linux"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599e4-f4fd-4092-bc59-5667755996bf"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66a8b-c74a-43f9-9fed-ffdfa528683c"} 
{:block/content "TODO items ne s'enlèvent pas dans le #DebugManager"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eac9-bd77-4bd8-a907-d905eceb0bf4"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68e4eb24-497a-47d6-9f95-b49d87badeb4"} 
{:block/content "TODO déplacer le #Readable \"hacking room 001\" à l'entrée de la room et mettre une flèche"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599d4-7fc2-4503-a270-236131bc7e4c"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e599e4-f4fd-4092-bc59-5667755996bf"} 
{:block/content "TODO"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eacd-15a9-40c6-95c2-045f39092ef4"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68e4ea87-3863-47ef-b4c8-931549b1a5e1"} 
{:block/created-at 1760738104682
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "68e599b8-f180-4132-ab32-e615c5d14cea"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [536 438.14067443906583]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4e4f4bb0-a3d0-11f0-9986-2bb3e96c81f5"
:noFill false
:point [1200 728]
:parentId "ca52c841-d304-42ca-b74e-3e73010c9504"
:collapsedHeight 0
:nonce 1759877551284}}
:block/updated-at 1760738104682} 
{:block/content "DONE ### #UI_Manager rework"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a8b-5b1f-4929-bc75-edcfb0604802"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66a8c-fba4-4f0f-b7cf-d765f11cbaa9"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68eef434-fbc4-4b97-ab00-b506bd3ccc0e"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68e4eac9-bd77-4bd8-a907-d905eceb0bf4"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a99-bf02-4abb-8bf7-e9a46d87bc65"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66aa0-8b94-4033-8d2d-64a345bed3eb"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68e4eb0e-4e01-467b-b45d-86e0df740d73"} 
{:block/content "qsdqsd"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/properties 
{}
:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"}
:block/parent 
{:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"}
:block/properties 
{}
:block/uuid #uuid "68e4eac9-c9ba-498c-8c5e-a66c619220d8"} 
{:block/created-at 1760820261809
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "68e4ea24-3741-478e-bbb5-1963dcac8791"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [704 438.21874065773335]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ab9f53f0-a367-11f0-be60-0d792f65649d"
:noFill false
:point [1056 256]
:parentId "ab353888-c7b2-44e4-bb72-306277f7df3e"
:collapsedHeight 0
:nonce 1759832610942}}
:block/updated-at 1760820261809} 
{:block/created-at 1759832595263
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "68de523d-23ed-4ec0-8044-b99dce844ca6"
:scaleLevel "xxl"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [480 122.99999954231701]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9a649e70-9f79-11f0-b56f-2f5d91f41663"
:noFill false
:point [448 224]
:parentId "68de5224-dc37-4021-bb3b-c34766a09112"
:collapsedHeight 0
:nonce 1759400508423}}
:block/updated-at 1759832595263} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a8b-c74a-43f9-9fed-ffdfa528683c"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66a8b-5b1f-4929-bc75-edcfb0604802"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"}
:block/parent 
{:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"}
:block/properties 
{}
:block/uuid #uuid "68e4ea41-d9b2-40e5-8f8e-ba5c7bc7163e"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e599d4-2812-4f39-ae40-a9768b129388"} 
{:block/created-at 1760550095116
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "todo 1.4.10"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [648 1042.312407035211]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "11c5fd60-9f7a-11f0-b56f-2f5d91f41663"
:noFill false
:point [352 360]
:parentId "68de5224-dc37-4021-bb3b-c34766a09112"
:collapsedHeight 0
:nonce 1759400708825}}
:block/updated-at 1760550095116} 
{:block/content "- DONE faire que le #TTCBAS ne prend pas en compte notre cible (zombos evitent le perso meme quand ils le chasent)\n- DONE comprendre pk les #Mobs recommencent à bouger pendant la fin de leur attaque (même bug que celui du haut ?)\n- DONE le #PreyDetector ne semble pas basculer directement sur la proie si on fait une autre action ?\n-\n-\n- DONE bug quand on cancel 2 hacks très vite ça trouve pas le hack"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/uuid #uuid "68ed1c71-b1ba-4df8-877a-a757c845106e"} 
{:block/content "DONE #UI_Device buggé avec le new #UI_Manager"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eb0e-4e01-467b-b45d-86e0df740d73"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68eef410-9ac0-4eb2-8a62-d2d2d7b7a7bf"} 
{:block/content "DONE pareil pour les #UI_RunningHacksViewer"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68eef410-9ac0-4eb2-8a62-d2d2d7b7a7bf"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68eef421-6013-4f7c-973f-3c6b09440ba3"} 
{:block/content "DONE et aussi quand on ouvre des coffres avec un device des fois c bzar"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68eef421-6013-4f7c-973f-3c6b09440ba3"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68eef434-fbc4-4b97-ab00-b506bd3ccc0e"} 
{:block/content "DONE #UI_ExploitSelector les boutons cancel hack & automatic grandissent trop quand on show la pool"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eb24-497a-47d6-9f95-b49d87badeb4"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68ef81de-2bb9-4cea-9d95-16d4255a033c"} 
{:block/content "TODO on peut manger des pommes trop vite"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68ef81de-2bb9-4cea-9d95-16d4255a033c"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68ef821d-6e08-4b59-bd57-0dd294ff1541"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68ef821d-6e08-4b59-bd57-0dd294ff1541"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68ef8224-abc4-4a03-aa6c-f4768d1e1e7b"} 
{:block/content "log_stats"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68ed1c71-b1ba-4df8-877a-a757c845106e"}
:block/parent 
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"}
:block/uuid #uuid "68f2ba36-d79d-431a-9622-143913f8d75f"})
:pages (
{:block/uuid #uuid "88de0800-2a90-422e-8f6b-a6f77a36a84e"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "88de0800-2a90-422e-8f6b-a6f77a36a84e"
:name "todo"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("9a649e70-9f79-11f0-b56f-2f5d91f41663" "11c5fd60-9f7a-11f0-b56f-2f5d91f41663" "3dedb360-9f7a-11f0-b56f-2f5d91f41663" "7e063760-a169-11f0-9e61-3b62fd53bac4" "ab9f53f0-a367-11f0-be60-0d792f65649d" "4e4f4bb0-a3d0-11f0-9986-2bb3e96c81f5")}}
:block/journal? false
:block/updated-at 1760820261808
:block/created-at 1759400484349
:block/type "whiteboard"
:block/name "todo"
:block/original-name "TODO"})}