{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea87-3863-47ef-b4c8-931549b1a5e1"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea41-1f36-4d20-859f-996c53a36acf"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/uuid #uuid "68e4eae5-ccae-4ff0-af6f-bbf0b4d0ddef"} 
{:block/content "log_stats"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68ed1c71-b1ba-4df8-877a-a757c845106e"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/uuid #uuid "68f2ba36-d79d-431a-9622-143913f8d75f"} 
{:block/created-at 1762451563137
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "68de534f-8bfc-473f-8a45-e2dc42e47db2"
:scaleLevel "xxl"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [256 123.13203710178665]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3dedb360-9f7a-11f0-b56f-2f5d91f41663"
:noFill false
:point [-840 192]
:parentId "68de5224-dc37-4021-bb3b-c34766a09112"
:collapsedHeight 0
:nonce 1759400782443}}
:block/updated-at 1762451563137} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68e4ea41-1f36-4d20-859f-996c53a36acf"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eb0e-4e01-467b-b45d-86e0df740d73"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68ef821d-6e08-4b59-bd57-0dd294ff1541"} 
{:block/collapsed? false
:block/content "# **BUGS**\n:LOGBOOK:\nCLOCK: [2025-10-07 Tue 12:27:17]--[2025-10-07 Tue 12:27:18] =>  00:00:01\n:END:"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea03-86ec-43a6-8915-881103fd6ba9"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{:heading 1}
:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"} 
{:block/content "**BUGS**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68de534f-8bfc-473f-8a45-e2dc42e47db2"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68e4ea03-86ec-43a6-8915-881103fd6ba9"} 
{:block/created-at 1762451564343
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "todo 1.4.9"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [680 730.8000225474321]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7e063760-a169-11f0-9e61-3b62fd53bac4"
:noFill false
:isLocked false
:point [-464 -360]
:parentId "f60eacb4-ef6d-4dec-993c-70b211f0316f"
:collapsedHeight 0
:nonce 1759613490859}}
:block/updated-at 1762451564343} 
{:block/content "# **MID TERM**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eae5-ccae-4ff0-af6f-bbf0b4d0ddef"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{:heading 1}
:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"} 
{:block/content "**DONE**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68de523d-23ed-4ec0-8044-b99dce844ca6"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68de534f-8bfc-473f-8a45-e2dc42e47db2"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68e4eacd-15a9-40c6-95c2-045f39092ef4"} 
{:block/content "### #UI_Navigator rework"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a8c-fba4-4f0f-b7cf-d765f11cbaa9"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{:heading 3}
:block/uuid #uuid "68e66a99-bf02-4abb-8bf7-e9a46d87bc65"} 
{:block/content "**CURRENT TODO**"
:block/format :markdown
:block/left 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68de523d-23ed-4ec0-8044-b99dce844ca6"} 
{:block/content "rée de la room et mettre une flèche"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599d4-2812-4f39-ae40-a9768b129388"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e599d4-7fc2-4503-a270-236131bc7e4c"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599d4-7fc2-4503-a270-236131bc7e4c"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66a8b-c74a-43f9-9fed-ffdfa528683c"} 
{:block/content "TODO"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eacd-15a9-40c6-95c2-045f39092ef4"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68e4ea87-3863-47ef-b4c8-931549b1a5e1"} 
{:block/content "DONE ### #UI_Manager rework"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a8b-5b1f-4929-bc75-edcfb0604802"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66a8c-fba4-4f0f-b7cf-d765f11cbaa9"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68ef821d-6e08-4b59-bd57-0dd294ff1541"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68ef8224-abc4-4a03-aa6c-f4768d1e1e7b"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a99-bf02-4abb-8bf7-e9a46d87bc65"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66aa0-8b94-4033-8d2d-64a345bed3eb"} 
{:block/content "- DONE faire que le #TTCBAS ne prend pas en compte notre cible (zombos evitent le perso meme quand ils le chasent)\n- DONE comprendre pk les #Mobs recommencent à bouger pendant la fin de leur attaque (même bug que celui du haut ?)\n- DONE le #PreyDetector ne semble pas basculer directement sur la proie si on fait une autre action ?\n-\n-\n- DONE bug quand on cancel 2 hacks très vite ça trouve pas le hack"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/uuid #uuid "68ed1c71-b1ba-4df8-877a-a757c845106e"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/parent 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/properties 
{}
:block/uuid #uuid "68e4eb0e-4e01-467b-b45d-86e0df740d73"} 
{:block/content "qsdqsd"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea24-3741-478e-bbb5-1963dcac8791"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/properties 
{}
:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"}
:block/parent 
{:block/uuid #uuid "68e4eac9-3614-4f99-87c6-99ca6ce63fc9"}
:block/properties 
{}
:block/uuid #uuid "68e4eac9-c9ba-498c-8c5e-a66c619220d8"} 
{:block/content "paper"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68f2ba36-d79d-431a-9622-143913f8d75f"}
:block/parent 
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"}
:block/uuid #uuid "68f56450-3417-46b0-b7c8-e2f9ec7c64e9"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e66a8b-c74a-43f9-9fed-ffdfa528683c"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e66a8b-5b1f-4929-bc75-edcfb0604802"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"}
:block/parent 
{:block/uuid #uuid "68e4ea83-8c3d-4efc-9804-1bb6c8a976f9"}
:block/properties 
{}
:block/uuid #uuid "68e4ea41-d9b2-40e5-8f8e-ba5c7bc7163e"} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/parent 
{:block/uuid #uuid "68e599b8-f180-4132-ab32-e615c5d14cea"}
:block/properties 
{}
:block/uuid #uuid "68e599d4-2812-4f39-ae40-a9768b129388"} 
{:block/created-at 1762451558880
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "todo 1.4.10"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [648 832.0000708195965]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "11c5fd60-9f7a-11f0-b56f-2f5d91f41663"
:noFill false
:point [-688 448]
:parentId "68de5224-dc37-4021-bb3b-c34766a09112"
:collapsedHeight 0
:nonce 1759400709129}}
:block/updated-at 1762451558880} 
{:block/created-at 1762451565674
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "todo_done"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 380.8000350600204]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "20dd2820-bb39-11f0-a4a2-f7646d8e9850"
:noFill false
:isLocked false
:point [56 440]
:parentId "88d324a5-9987-41cc-a7f2-f0051d418fa5"
:collapsedHeight 0
:nonce 1762451448968}}
:block/updated-at 1762451565674} 
{:block/created-at 1762700181473
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "roadmap"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [1800 1359.6002596547585]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3adbc0c0-bd7c-11f0-bfd4-4fd35101b07b"
:noFill false
:isLocked false
:point [1360 -480]
:parentId "1bc965d9-9f28-4c04-83cb-3b6673a2de71"
:collapsedHeight 0
:nonce 1762700171156}}
:block/updated-at 1762700181473})
:pages (
{:block/uuid #uuid "1bc965d9-9f28-4c04-83cb-3b6673a2de71"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "1bc965d9-9f28-4c04-83cb-3b6673a2de71"
:name "todo"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("11c5fd60-9f7a-11f0-b56f-2f5d91f41663" "3dedb360-9f7a-11f0-b56f-2f5d91f41663" "7e063760-a169-11f0-9e61-3b62fd53bac4" "20dd2820-bb39-11f0-a4a2-f7646d8e9850" "3adbc0c0-bd7c-11f0-bfd4-4fd35101b07b")}}
:block/journal? false
:block/updated-at 1762700181473
:block/created-at 1759400484349
:block/type "whiteboard"
:block/name "todo"
:block/original-name "TODO"})}